
body {
    margin: 0;
    padding: 0;
}
html,
body,
#map {
    height: 100%;
}
.mapboxgl-ctrl-button {
    font-size: 64px; /* ボタンの文字サイズを調整 */
    width: 120px; /* ボタンの幅を拡大 */
    height: 120px; /* ボタンの高さを拡大 */
}
