
body {
    margin: 0;
    padding: 0;
}
html,
body,
#map {
    height: 100%;
}
.mapboxgl-ctrl-button {
    font-size: 32px; /* Increase button font size */
    width: 80px; /* Increase button width */
    height: 80px; /* Increase button height */
}
